<!DOCTYPE html>
<html>
  <head>
    <title>Coding Dojo Express Survey Assignment Results</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Name: </td>
        <td><%= user['name']%></td>
      </tr>
      <tr>
        <td>Location: </td>
        <td><%= user['location']%></td>
      </tr>
      <tr>
        <td>Name: </td>
        <td><%= user['language']%></td>
      </tr>
      <tr>
        <td>Comment: </td>
        <td><%= user['language']%></td>
      </tr>
    </table>
    <a href="/"><button type="button">Return</button></a>
  </body>
</html>
